.kanban-board {
  padding: 20px;
}

.kanban-columns {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: hidden;
  background: #f4f4f4;
  margin-top: 10px;
}

.status-display {
  display: flex;
  gap: 20px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.kanban-board button {
  text-align: left;
  width: fit-content;
}
.header span{
  display: flex;
    align-items: center;
    border: 3px solid #e7e6e6;
}
.header {
  width: 90px;
  display: flex;
  justify-content: center;
}